
.Dashboard {
  flex-direction: row;
  display: flex;
  flex: auto;
}
.Dashboard__sidebar--open{
  flex: 0 0 200px;
  padding-left: 35px;
}
.Dashboard__sidebar--close {
  flex: 0 0 50px;
}
.Dashboard__sidebar {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: #000;
}
.Dashboard__main {
  display: flex;
  flex-direction: column;
  flex: auto;
}